*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    font-family: var(--saturn-font-family);
    font-size: var(--saturn-font-size);
    font-weight: var(--saturn-font-weight);
    line-height: var(--saturn-line-height);
    color: var(--saturn-body-color);
    text-align: var(--saturn-text-align);
    background-color: var(--saturn-body-bg);
}
img{
    max-width: 100%;
    height: auto;
}

a{
    color: var(--saturn-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
a,
input,
button{
    line-height: inherit;
    border-radius: 4px !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
.d-none{
    display: none !important;
}
.d-inline-block{
    display: inline-block !important;
}
.d-block{
    display: block !important;
}
.d-inline-flex{
    display: inline-flex !important;
}
.d-flex{
    display: flex !important;
}
@include media('phone'){
    .d-sm-none{
        display: none !important;
    }
    .d-sm-inline-block{
        display: inline-block !important;
    }
    .d-sm-block{
        display: block !important;
    }
    .d-sm-inline-flex{
        display: inline-flex !important;
    }
    .d-sm-flex{
        display: flex !important;
    }
}
@include media('tablet'){
    .d-md-none{
        display: none !important;
    }
    .d-md-inline-block{
        display: inline-block !important;
    }
    .d-md-block{
        display: block !important;
    }
    .d-md-inline-flex{
        display: inline-flex !important;
    }
    .d-md-flex{
        display: flex !important;
    }
}
@include media('laptop'){
    .d-lg-none{
        display: none !important;
    }
    .d-lg-inline-block{
        display: inline-block !important;
    }
    .d-lg-block{
        display: block !important;
    }
    .d-lg-inline-flex{
        display: inline-flex !important;
    }
    .d-lg-flex{
        display: flex !important;
    }
}
.clearfix::after{
    display: block;
    clear: both;
    content: '';
}
.container{
    width: 100%;
    padding-right: var(--saturn-padding-side);
    padding-left: var(--saturn-padding-side);
    margin-right: auto;
    margin-left: auto;
    @include media('phone'){
        max-width: 540px;
    }
    @include media('tablet'){
        max-width: 720px;
    }
    @include media('laptop'){
        max-width: 960px;
    }
    @include media('desktop'){
        max-width: 1140px;
    }
    @include media('monitor'){
        max-width: 1320px;
    }
}
.wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: var(--saturn-margin-side-offset);
    margin-left: var(--saturn-margin-side-offset);
}
[class*="width-"]{
    position: relative;
    width: 100%;
    padding-left: var(--saturn-padding-side);
    padding-right: var(--saturn-padding-side);
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 28px;
    font-size: 13px;
    padding: 5px 20px;
    background-color: var(--saturn-color);
    color: var(--saturn-body-color);
}